
.DropdownWrapper{ /* form */
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
  }
  
  .StyledSelect{ /* select */
    max-width: 50%;
    height: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
  
  .StyledOption{ /* option */
   /* still need to style */
  }
  
  .StyledLabel{ /* label */
    margin-bottom: 1rem;
  } 
  
  