body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #efefef;
  }

  .first h1 {color:#050401;
    text-align:left;
    }

    div.first {
        margin-left:20px;
    }
  
    div.second{
        position:absolute;
        bottom:100px;
    }

  .second img {
      float: center;
      align-self: center;
      height: 40vh;
      width: 89vw;
  }