body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.page  {
    padding-top: 0px;
    margin-top: 0px;
    margin-left: 5%;
    overflow: hidden;
}
.Hamburger {
    margin-left: -3px;
    margin-top: 5px;
    color: transparent;
    background-color: transparent;
    border: none;
}
.sidebar {
    z-index: 1;
    margin: 0;
    border-right: 6px none #20A4F3;
    width: 50px;
    overflow: hidden;
    height: 100vh;
    float: left;
    color: #F9F5FF;
    background-color: #6D696A;
    transition: width 0.5s;
}
.sidebarList {
    display: none;
}

.sidebarList li button {
    display: block;
    width: 200px;
    padding: 16px;
    border: none;
    color: #F9F5FF;
    font-size:large;
    text-align: left;
    background-color: #6D696A;
    text-decoration: none;
}
.sidebarList li button:visited {
    color: black;
    text-decoration: none;
}
.sidebarList li button.active {
    background-color: #20A4F3;
    font-weight: bold;
    font-size:large;
    text-align: left;
    text-decoration: none;
    color: #000;
}

.sidebarList li button:hover:not(.active, .image) {
  background-color: #555;
  text-decoration: none;
  text-align: left;
  padding-left: 20%;
  font-size:large;
  color: #F9F5FF;
}
.sidebarList li button:hover.image {
    background-color: #6D696A;
}
.sidebar ul li a {
    text-decoration: none;
}
.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}