
.block_container {
    margin-left: -10px;
}

.matrix
{
    position: absolute;
    width: 600px;
    height: 600px;
    top:100px;
    left:100px;
}

#block0 {
    width: 600px;
    height: 600px;
}
.AM_block {
    overflow: hidden;
}

.header_top 
{
    position: absolute;
    width:600px;
    height:100px;
    top:-100px;
}

.header_left
{
    position: absolute;
    width:100px;
    height:600px;
    left: -100px;
}

.vis
{
    position: relative;
    height: 700px;
    width: 700px;
}

#dropdownButton{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0.5rem;
    border-radius: 1rem;
}

#dropdownButton:hover {
    background-color: #ffe6cc;
}

#dropdownButton:active{
    background-color: #ff901a;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    
}

#block1{
    margin-left: 75px;
}