body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #ffffff;
  }

div h1{
  margin-left: 20px;
}
.canvas {
    padding-left: 20px;
}
.data {
    margin-left: 500px;
}
.loading{
    display: none;
    width: 10%;
    height: 10%;
    margin: 10%;
    animation: rotation 2s infinite linear;

}
.UploadButton {
    border-style: solid;
    display: block;
    border-width: 3px;
    margin-left: 5%;
    margin-bottom: 1%;
    background-color: #20A4F3;
    width: 7%;
    border-color: black;
}
input[type='file'] {
    display: none;
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

#b1col0
{
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}


.infobox
{
    width: 300px;
    height: 90px;
    display: inline-block;
    border-style: solid;
    border-color: #20A4F3;
    background-color: white;
}

.text_infobox
{
    padding-left: 10px;
}
.visHeader{
  display: block;
  stroke: black;
  stroke-width: 10px;
  border-style: solid;
  border-radius: 16px;
  width: 50%;
  margin-left: 25%;
  border-color: #20A4F3;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 1%;
  font-size: larger;
}
.visHeader h1 {
  text-align: center;
  color: #2773d9;
}

.line{
  width: 36vw;
  border-bottom: 4px double #7e7b7c;
  position: absolute;
  margin-left:3vw;
  margin-top: 2%
  }
.symbol img{
  position: absolute;
  margin-left: 40.5%;
  width: 5vw;
  height: 2.8vh;
  margin-top:1.5%;
}
.line2{
  width: 36vw;
  border-bottom: 4px double #7e7b7c;
  position: absolute;
  margin-left: 47vw;
  margin-top: 2%
  }
  
.visText{
  stroke: black;
  stroke-width: 10px;
  border-radius: 16px;
  width: 79vw;
  margin-left: 4vw;
  margin-top: 4%;
  font-family: 'Courier New', Courier, monospace;
}
.visText p{
  padding: 10px;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.banner img{
  vertical-align:bottom;
  height: 35%;
  width: 100vw;
  position:fixed;
  bottom:0px;
  left:206px;
}

.uploadbutton{
  text-align:center;
}

.uploadbutton button {
  margin-top: 10vh;
  
  font-family: monospace;
  background: #20A4F3;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.5em;
  padding: 1.5rem;
  border: 0;
  transition: 0.5s;
  border-radius: 10px;
  width: auto;
  position: relative;
}

.uploadbutton button:hover {
  background: #20A4F3;
  transition: 0.5s;
  border-radius: 10px;
  padding: 1.5rem 2.5rem 1.5rem 2.5rem;
}

